*
/.magento/local
!/.blackfire.yml
!/.gitignore
!/.magento
!/.magento.app.yaml
!/.magento.env.yaml*
!/.magento/**
!/app
!/app/*/
!/app/code/**
!/app/design/**
!/app/etc/config.php
!/app/i18n/**
!/auth.json
!/build_options.ini
!/composer.json
!/composer.lock
!/m2-hotfixes
!/m2-hotfixes/**
!/magento-vars.php
!/op-exclude.txt
!/php.ini
!/README.md
!/update
!/update/.htaccess

!/patches
!/patches/**

# Licenses
!/LICENSE*.txt
!/COPYING.txt

!/pub
!/pub/humans.txt

# Additional
.idea/*
